*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(65, 65, 65, 0.76);
    
}
.icone{
    background-color: rgb(248, 182, 0);
}
.menu-lateral{
    height: 100%;
    background-color: rgb(10, 10, 10);
    color: rgb(0, 0, 0);
}
.menu-lateral a{
    color: rgb(255, 255, 255);
}
.menu-lateral a:active{
    color: rgb(255, 255, 255);
}
.menu-lateral a:hover{
    color: rgb(255, 255, 255);
}
.menu-lateral ul li{
    transition: 0.3s;
}

.menu-lateral ul li:hover{
    background-color: rgb(248, 182, 0);
}

.menu-lateral span{
    color: white;
}
.accordion-button{
    background-color: rgb(20, 20, 20) !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
}
.infoUsers p{
    color:white;
    transition: 0.2s;
}
.infoUsers a{
    color:white;
    list-style: none;
    text-decoration: none;
}
.infoUsers p:hover{
    color: rgb(248, 182, 0);
}
.users img:hover{
    background-color: rgba(65, 65, 65, 0.76);
}